body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffe6c7;
  }
  
  .calculator {
    box-shadow: 0px 0px 25px 7px #454545;
    border-radius: 38px;
    background-color: #454545;
    padding: 50px;
    width: 500px;
  }
  
  .display {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 50px;
    background-color: #454545;
    padding: 12px;
    border-radius: 25px;
    font-size: 2.5em;
  }
  
  .input {
    font-size: 2em;
    color: #ffe6c7;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
  }
  
  .btn {
    border: none;
    border-radius: 13px;
    padding: 25px 0;
    font-size: 2.5em;
    transition: background-color 0.3s ease;
    background-color: #454545;
    box-shadow: 0px 0px 10px 2px #ff6000;
    color: #ffe6c7;
  }
  
  .btn:hover {
    background-color: #555555;
  }
  
  .op {
    color: #ff6000;
  }
  
  .zero {
    grid-column: span 2;
    border-radius: 13px;
  }
  
  .equals {
    grid-column: span 2;
    border-radius: 13px;
    color: #ff6000;
  }
  
  /* Media query for screens smaller than 700px */
  @media only screen and (max-width: 700px) {
    .calculator {
      padding: 30px;
      width: 300px;
    }
  
    .display {
      height: 60px;
      margin-bottom: 30px;
      font-size: 2em;
    }
  
    .buttons {
      gap: 15px;
    }
  
    .btn {
      padding: 15px 0;
      font-size: 1.6em;
    }
  }
  
  /* Media query for screens smaller than 300px */
  @media only screen and (max-width: 400px) {
    .calculator {
      padding: 20px;
      width: 220px;
    }
  
    .display {
      height: 50px;
      margin-bottom: 20px;
      font-size: 1.5em;
    }
  
    .buttons {
      gap: 10px;
    }
  
    .btn {
      padding: 10px 0;
      font-size: 1.2em;
    }
  }
  
  /* Media query for screens smaller than 200px */
  @media only screen and (max-width: 300px) {
    .calculator {
      padding: 10px;
      width: 180px;
    }
  
    .display {
      height: 40px;
      margin-bottom: 10px;
      font-size: 1.2em;
    }
  
    .buttons {
      gap: 5px;
    }
  
    .btn {
      padding: 5px 0;
      font-size: 1em;
    }
  }
  
  /* Media query for screens smaller than 100px */
  @media only screen and (max-width: 200px) {
    .calculator {
      padding: 5px;
      width: 80px;
    }
  
    .display {
      height: 20px;
      margin-bottom: 5px;
      font-size: 0.8em;
    }
  
    .buttons {
      gap: 2px;
    }
  
    .btn {
      padding: 2px 0;
      font-size: 0.7em;
    }
  }